﻿﻿﻿@model Vjezba.Web.Models.CompanyFilterModel
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Index")" method="post" class="form-inline">
            <div class="form-group">
                @Html.EditorFor(p => p.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Pretraga po nazivu" } })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(p => p.Address, new { @class = "form-control", placeholder = "Pretraga po adresi" })
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="@Html.NameFor(p => p.Email)" placeholder="Pretraga po e-mailu">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="@Html.NameFor(p => p.CityName)" placeholder="Pretraga po gradu">
            </div>
            <button type="button" class="btn btn-default">Pretraga</button>
        </form>
    </div>
</div>
