﻿@model List<Vjezba.Web.Models.Mock.Company>



@{
    ViewBag.Title = "_IndexTable";
}

<table id="companiesTable" class="table table-condensed table-hover" style="margin-top:10px">
    <thead>
        <tr id="headerRow">
            <th>#</th>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Datum osnivanja</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr onclick="onClickBold(this)">
                <td>@company.ID</td>
                <td>@Html.ActionLink(company.Name, "Details", new { id = company.ID })</td>
                <td>@company.Address</td>
                <td>@company.DateFrom.ToShortDateString()</td>
                <td>@Html.ActionLink("Uredi", "Edit", new { id = company.ID })</td>
            </tr>
        }
    </tbody>
</table>