﻿@model List<Vjezba.Web.Models.Mock.Company>
@{
    ViewBag.Title = "Pregled kompanija";
}

<div class="panel panel-heading">
    <div class="row">
        <div class="col-xs-8">
            <h2>Pregled kompanija</h2>
        </div>
        <div class="col-xs-4 text-right">
            <a href="@Url.Action("Create")" style="margin-top: 20px;" class="btn btn-success">Dodaj novu kompaniju</a>
        </div>
    </div>
</div>

@Html.Partial("_CompanyFilter", new Vjezba.Web.Models.CompanyFilterModel())
@Html.Partial("_IndexTable", Model)


@section scripts {

<style>

    tr {
        opacity: 0.6;
    }

    tr:hover {
        opacity: 1;
    }

    .bold {
        font-weight: bold;
    }

</style>

<script type="text/javascript">

    $(function () {
        $("#headerRow").css('opacity', '1');
    });

    function onClickBold(tr) {
        $(tr).toggleClass('bold');
    }

    $(function () {
        $('button').click(function () {
            var str = $("form").serialize();
            $.ajax({
                type: "POST",
                data: str,
                url: "@Url.Action("IndexAjax", "Company")",
            }).done(function (res) {
                $("#companiesTable").replaceWith(res);
            })
        });
    });

</script>

}